<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/named-cat" method="get">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div class="button">
    <button type="submit">Send your message</button>
  </div>
</form>
<div>
  <img src='http://bit.ly/1eze8aE' style='border: 3px dashed red'>
</div>
